body {
  font-family: "Raleway", sans-serif;
  margin: auto;
  background-color: blueviolet;
  width: 100%;
  height: 100%;
}

.mainBlock {
  width: 70%;
  height: 95%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#Header {
  text-align: center;
  margin: 30px;
  font-size: 72pt;
  font-weight: 600;
  color: aliceblue;
}
#textHeader {
  text-align: center;
  margin: 40px;
  font-size: 14pt;
  color: aliceblue;
  opacity: 0.9;
  line-height: 1.5;
}
.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block1 {
  background-image: url(/img/block1.png);
  background-color: cyan;
  width: 280px;
  height: 220px;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  transition: all 0.5s ease-in-out;
}
.block1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(
    to top,
    rgba(9, 5, 47, 0.85) 0%,
    rgba(49, 29, 94, 0) 50%
  );
}
.block2 {
  background-image: url(/img/block2.png);
  background-color: aqua;
  width: 280px;
  height: 220px;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  transition: all 0.5s ease-in-out;
}
.block2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(
    to top,
    rgba(9, 5, 47, 0.85) 0%,
    rgba(49, 29, 94, 0) 50%
  );
}
.block3 {
  background-image: url(/img/block3.png);
  background-color: aqua;
  width: 280px;
  height: 220px;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  transition: all 0.5s ease-in-out;
}

.block3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(
    to top,
    rgba(9, 5, 47, 0.85) 0%,
    rgba(49, 29, 94, 0) 50%
  );
}
.viewMore {
  text-align: center;
  width: 160px;
  height: 40px;
  background-color: crimson;
  margin: auto;
  margin-top: 30px;
  line-height: 40px;
  font-weight: 100;
  color: aliceblue;
  text-transform: uppercase;
  opacity: 0.7;
  cursor: pointer;
}

.date {
  background-color: rgb(124, 124, 124, 0.5);
  z-index: 4;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;

  border-radius: 5px;
}

.date p {
  text-align: center;
  font-weight: 700;
  line-height: 1;
  margin-top: 5px;
  color: aliceblue;
  opacity: 2;
}
.text {
  color: aliceblue;
  z-index: 4;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 15px;
  font-weight: 500;
}
.published {
  font-size: 10px;
  margin-bottom: 15px;
  opacity: 0.6;
}

a {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  line-height: 40px;
  font-weight: 100;
  color: aliceblue;
  text-transform: uppercase;
  opacity: 0.7;
  text-decoration: none;
}

.block1:hover {
  transform: scaleY(1.1);
}
.block2:hover {
  transform: scaleY(1.1);
}
.block3:hover {
  transform: scaleY(1.1);
}
